## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [137]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [138]:
# Your code here
sample_list_1=[]

In [139]:
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[46, 36, 39, 1, 66, 3, 73, 71, 43, 80, 75, 17, 55, 25, 47, 53, 91, 23, 31, 63, 2, 92, 84, 29, 94, 4, 82, 9, 67, 93, 13, 42, 24, 87, 79, 7, 40, 26, 85, 86, 72, 0, 50, 89, 64, 90, 98, 58, 70, 48, 35, 88, 65, 78, 59, 28, 95, 10, 34, 99, 33, 12, 49, 68, 62, 14, 69, 60, 96, 38, 51, 27, 52, 8, 44, 56, 81, 11, 19, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [140]:
# Your code here
set1 = set(sample_list_1)

print(set1)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

In [141]:
len(set1)

80

In [142]:
a = set1

In [143]:
print(a)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

In [144]:
len(a)

80

In [145]:
print(set1)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

In [146]:
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [147]:
# Your code here
sample_list_2 = []

for i in range(80):
    n = random.randint(1,100)
    sample_list_2.append(n)

print(sample_list_2)

[26, 50, 22, 25, 64, 8, 78, 84, 38, 39, 26, 11, 95, 25, 92, 33, 20, 32, 63, 83, 56, 47, 35, 81, 18, 48, 90, 56, 67, 95, 33, 90, 58, 49, 32, 86, 53, 22, 58, 77, 50, 61, 96, 85, 99, 25, 31, 5, 47, 99, 71, 93, 76, 52, 98, 75, 97, 96, 92, 31, 50, 50, 64, 25, 91, 62, 89, 35, 51, 54, 27, 84, 62, 34, 82, 39, 80, 1, 63, 85]

In [148]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [149]:
b=set(sample_list_2)

In [150]:
set2 = b

In [151]:
len(b)

54

In [152]:
print(set2)

{1, 5, 8, 11, 18, 20, 22, 25, 26, 27, 31, 32, 33, 34, 35, 38, 39, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 61, 62, 63, 64, 67, 71, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [153]:
set3 = set1 - set2
print(set3)

{0, 2, 3, 4, 7, 9, 10, 12, 13, 14, 17, 19, 23, 24, 28, 29, 36, 40, 42, 43, 44, 46, 55, 59, 60, 65, 66, 68, 69, 70, 72, 73, 79, 87, 88, 94}

In [154]:
set2

{1,
 5,
 8,
 11,
 18,
 20,
 22,
 25,
 26,
 27,
 31,
 32,
 33,
 34,
 35,
 38,
 39,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 58,
 61,
 62,
 63,
 64,
 67,
 71,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [167]:
set4 = set2 - set1
print(set4)

{32, 97, 5, 77, 18, 83, 20, 22, 54, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [168]:
set5 = set2.intersection(set1) 
print(set5)

{1, 8, 11, 25, 26, 27, 31, 33, 34, 35, 38, 39, 47, 48, 49, 50, 51, 52, 53, 56, 58, 62, 63, 64, 67, 71, 75, 76, 78, 80, 81, 82, 84, 85, 86, 89, 90, 91, 92, 93, 95, 96, 98, 99}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

#### Create an empty set called `set6`.

In [169]:
list6 = ()
set6 = set(list6) 
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [170]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [171]:
set1 == set6

True

In [160]:
print(set2)

{1, 5, 8, 11, 18, 20, 22, 25, 26, 27, 31, 32, 33, 34, 35, 38, 39, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 61, 62, 63, 64, 67, 71, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [172]:
# Your code here
x = set1.issubset(set2) 

print(x)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [173]:
z=set3.union(set4, set5)
print(z)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [174]:
m=set1.union(set2)
print(set8)

{1, 3, 4, 8, 9, 10, 11, 12, 13, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 34, 35, 37, 39, 40, 41, 45, 46, 50, 53, 59, 60, 61, 63, 65, 66, 68, 70, 71, 73, 75, 78, 79, 80, 81, 83, 84, 85, 87, 90, 91, 93, 94, 95, 96, 97, 100}

In [164]:
z==m

True

#### Using the `pop` method, remove an element from `set1`.

In [180]:
# Your code here
set1.pop()
print(set1)

{7, 8, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [182]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

{7, 8, 10, 12, 13, 14, 17, 23, 24, 25, 26, 27, 28, 33, 34, 35, 36, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}